<div class="container p-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>SignUp</h3>
        </div>
        <div class="card-body">
          <form action="/signup" method="POST">
            <div class="form-group">
              <input type="type" name="usrname" placeholder="User Name" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="type" name="usrsecondname" placeholder="Second Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="type" name="usrlastname" placeholder="Last Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="mail" name="mail" placeholder="E-mail" class="form-control">
            </div>
            <div class="form-group">
              <input type="number" name="phone" placeholder="Phone number" class="form-control">
            </div>
            <div class="form-group">
              <input type="number" name="profileId" placeholder="Select Profile" class="form-control">
            </div>
            <div class="form-group">
              <input type="type" name="nickName" placeholder="User NickName" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                SingIn
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>